scratch.py
*.py[cod]

# C extensions
*.so
*.bc

# Packages
*.egg
*.egg-info
*.zip
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

udf-scratch/
